.App {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
}

/*
.navbar-default .navbar-brand {
  color: #51afe1;
  width: fit-content;
}
*/

.footerlogo {
  margin-left: 30px;
}

.footer {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.myFooterTxt {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  font-size: 12px;
  color: rgb(129, 129, 129);
}

:root {
  --sata-light: #51afe1cc;
  --sata-dark: #51afe1;
}

.bg-sata-light {
  background-color: var(--sata-light);
}

.bg-sata-dark {
  background-color: var(--sata-dark);
}
